* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #000;
  color: #fff;
  font-family: 'Oswald', sans-serif;
}

@media screen and (max-width: 990px) {
  .container {
    min-height: 100vh;
    height: auto;
  }
}

.container .header {
  height: 10%;
  background: #4a5aa1;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 990px) {
  .container .header {
    min-height: 10vh;
  }
}

.container .header .score {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container .main {
  height: 85%;
  margin: 0 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container .main {
    margin: 0 25px;
    min-height: 85vh;
  }
}

.container .main__item {
  width: 200px;
  height: 150px;
  background: #4a5aa1;
  margin: 15px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container .main__item {
    width: 100px;
    height: 100px;
    background-position: center;
  }
}

.container .main__item:hover {
  transform: scale(1.1);
  transition: transform .3s ease;
}

.container .main .car {
  background: url("img/car.jpg");
}

.container .main .landscape {
  background: url("img/landscape.jpg");
}

.container .main .react {
  background: url("img/react.png");
}

.container .main .banana {
  background: url("img/banana.jpg");
}

.container .main .windows {
  background: url("img/windows.jpg");
}

.container .main .apple {
  background: url("img/apple.jpg");
}

.container .main .car,
.container .main .landscape,
.container .main .react,
.container .main .banana,
.container .main .windows,
.container .main .apple {
  background-size: cover;
  transform: scale(1);
  transition: transform .3s ease;
}

@media screen and (max-width: 768px) {
  .container .main .car,
  .container .main .landscape,
  .container .main .react,
  .container .main .banana,
  .container .main .windows,
  .container .main .apple {
    background-position: center;
  }
}

.container .main .green__border {
  border: 2px solid #298b29;
  transition: border .3s ease;
}

.container .main .red__border {
  transition: border .3s ease;
  border: 3px solid #7a2626;
}

.container .main .congratulations__div {
  width: 100%;
  text-align: center;
}

.container .main .reset__btn {
  margin-top: 40px;
  width: 200px;
  color: #e2e2e2;
  background: #303030;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}

.container .main .reset__btn:hover {
  background: #1b1b1b;
  color: #fff;
  transition: color, background-color .3s ease;
}

.container .footer {
  height: 5%;
  background: #4a5aa1;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

@media screen and (max-width: 990px) {
  .container .footer {
    font-weight: normal;
  }
}
