* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #000;
    color: #fff;
    font-family: 'Oswald', sans-serif;

    @media screen and(max-width: 990px) {
        min-height: 100vh;
        height: auto;
    }

    .header {
        height: 10%;
        background: #4a5aa1;
        font-size: 2em;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        @media screen and(max-width: 990px) {
            min-height: 10vh;
        }

        .score {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    .main {
        height: 85%;
        margin: 0 150px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        font-size: 2.5em;
        font-weight: bold;
        text-align: center;

        @media screen and(max-width: 768px) {
            margin: 0 25px;
            min-height: 85vh;
        }

        &__item {
            width: 200px;
            height: 150px;
            background: #4a5aa1;
            margin: 15px;
            cursor: pointer;

            @media screen and(max-width: 768px) {
                width: 100px;
                height: 100px;
                background-position: center;
            }
        }

        &__item:hover {
            transform: scale(1.1);
            transition: transform .3s ease;
        }

        .car {
            background: url('img/car.jpg');
        }

        .landscape {
            background: url('img/landscape.jpg');
        }

        .react {
            background: url('img/react.png');
        }

        .banana {
            background: url('img/banana.jpg');
        }

        .windows {
            background: url('img/windows.jpg');
        }

        .apple {
            background: url('img/apple.jpg');
        }

        .car,
        .landscape,
        .react,
        .banana,
        .windows,
        .apple {
            background-size: cover;
            transform: scale(1);
            transition: transform .3s ease;

            @media screen and(max-width: 768px) {
                background-position: center;
            }
        }

        .green__border {
            border: 2px solid #298b29;
            transition: border .3s ease;
        }

        .red__border {
            transition: border .3s ease;
            border: 3px solid #7a2626;
        }

        .congratulations__div {
            width: 100%;
            text-align: center;
        }

        .reset__btn {
            margin-top: 40px;
            width: 200px;
            color: #e2e2e2;
            background: #303030;
            border-radius: 8px;
            padding: 5px;
            cursor: pointer;
        }

        .reset__btn:hover {
            background: #1b1b1b;
            color: #fff;
            transition: color, background-color .3s ease;
        }
    }

    .footer {
        height: 5%;
        background: #4a5aa1;
        font-size: 1.5em;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        @media screen and(max-width: 990px) {
            font-weight: normal;
        }
    }
}